$bg-color: #FFFFFF;

$primary-color: #409EFF;
$secondary-color: #303133;

$dark-gray: #606266;
$light-gray: #8B9FBA;
$border-gray: #E7EAF2;
$gray: #DFE4ED;

$complete: #42D89D;
$canceled: #FD716F;
$progress: #46A8EC;

$head-color: #303933;
$btn-color: #1E88E5;
$btn-color-no: #BBDEFB;
$form-border: #D9DCE0;
$form-text-color: #263238;
$form-lbl-color: #B1C2DA;










